@import "reboot";
@import "font";
@import "variables";
@import "mixins";



html, body {
    width: 100%;
    height: 100%;
}
.camisetas {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 35%;
    background-position: 15% 200px;

    img {
        float: right;
        width: 450px;
        margin-right: 10%;
        margin-top: 10%;
    }
}
.escudo {
    display: flex;
    align-items: center;
    img {
        height: 70%;
        margin: 10px 20px 10px 50px;
    }
    h2 {
        font-family: suecaslabmedium, Georgia;
        font-size: 30px;
    }
}

h2#arsenal {
    color: lighten($arsenal-color, 20%); //llamada de la variable
}
#arsenal-local {
  @include camiseta-back ("../img/Arsenal_Home_1000x1000.png", $arsenal-color);
}
#arsenal-visit {
  @include camiseta-back ("../img/Arsenal_Away_1000x1000.png", $arsenal-color);
}
h2#aston {
    color: $aston-color;
}
#aston-local {
  @include camiseta-back ("../img/Aston_Villa_Home_1000x1000.png", $aston-color);
}
#aston-visit {
  @include camiseta-back ("../img/Aston_Villa_Away_1000x1000.png", $aston-color);
}
h2#burnley {
    color: $burnley-color;
}
#burnley-local {
  @include camiseta-back ("../img/Aston_Villa_Home_1000x1000.png", $burnley-color);
}
#burnley-visit {
  @include camiseta-back ("../img/Aston_Villa_Away_1000x1000.png", $burnley-color);
}
